# Before using please delete the "docker" prefix and "example" suffix name in the "docker.env.example"
# filename. Please update all environment variables below

# Backend configuration
# Set mongodb username and password
MONGO_INITDB_ROOT_USERNAME=<enter username>
MONGO_INITDB_ROOT_PASSWORD=<enter password>
MONGO_ENV=development

# Frontend configuration
# Nodejs configuration options
NODE_ENV=development
NPM_CONFIG_LOGLEVEL='verbose'
CONFIG_MONGODB_ADMINUSERNAME='<enter username>'
CONFIG_MONGODB_ADMINPASSWORD='<enter password>'
CONFIG_MONGODB_URI='mongodb://<enter username>:<enter password>@<enter hostname/ip address>:<enter port number>'

# serving port for backend
PORT='443'

# DNS hostname for backend
HOSTNAME='example.com'

# SSL certificate for backend
SSL_KEY_FILE='./.certs/example.key'
SSL_CERT_FILE='./.certs/example.pem'