# Nodejs configuration options
NODE_ENV=development
NPM_CONFIG_LOGLEVEL='verbose'
CONFIG_MONGODB_ADMINUSERNAME='<enter username>'
CONFIG_MONGODB_ADMINPASSWORD='<enter password>'
CONFIG_MONGODB_URI='mongodb://<enter username>:<enter password>@<enter hostname/ip address>:<enter port number>'