<section id="about" class="about" data-aos="fade-up">
    <div class="container">

        <div class="section-title">
            <h2>About</h2>
            <h3 class="about-greeting-title">To whom it may concern: </h3>
            <%- data.resume.introduction %>
        </div>

        <div class="row" data-aos="fade-down">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="img/profile-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-up">
                <h3>Software Engineering, QA Automation, DevOps Engineering</h3>
                <!--   Caption    -->
                <div data-aos="fade-up">
                    <p class="fst-italic">
                        As a Computer Science Major I spent much of my time learning and expanding my knowledge, experience and
                        understanding of <strong>Design Patterns, Systems Integration Engineering and Systems Architecture Design</strong>. From
                        building Telecommunications Networks to developing Software. I have a deep respect for good design and construction of
                        systems built for flexibility, change, evolution, scalability, high availability, security and disaster recovery as a forethought.
                    </p>
                </div>
                <br/>
                <div class="row" data-aos="fade-up">
                    <div class="col-lg-6" data-aos="fade-up">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a href="https://profile.delliusalexander.com">delliusalexander.com</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span><a href="tel:=+16786509414" >+1 (678) 650-9414</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Atlanta, USA</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><a href="mailto:info@delliusalexander.com">info@delliusalexander.com</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Employment:</strong> <span>Available</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up">
                        <ul>
                            <li>
                                <i class="bi bi-award-fill"></i>
                                <span><strong>Education:</strong></span>
                                <li><i class="bi bi-arrow-right align-top"></i>
                                    <span>Bachelor of Science in Computer Science</span>
                                </li>
                                <li><i class="bi bi-arrow-right"></i>
                                    <span>Associate of Applied Science in Information Technology</span>
                                </li>

                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End About Section -->