<section id="about" class="about" data-aos="fade-up">
    <div class="container">

        <div class="section-title">
            <h2>About</h2>
            <h3 class="about-greeting-title">To whom it may concern: </h3>
            <p data-aos="fade-up">
                I am a computer science student at Clayton State University in Morrow, GA, and I am
                expected to graduate in Spring 2023 with a Bachelor of Science in Computer Science.
                I have a solid and varied technical background and a background in the following
                programming languages: <span class="fst-italic fw-semibold">Java, JavaScript, PHP, CSS,
            HTML, Python, Unix/Linux shell, PowerShell, DOS, Prolog, C# and SQL</span>.
            </p>
            <br/>
            <p data-aos="fade-up">
                Additionally, I have experience with technologies such as: <span class="fst-italic fw-semibold">
            Docker, Kubernetes, GCP, Android Studio, Wire Shark, CSysdig, Git, Selenium, Jenkins, Cypress,
            Chocolatey, Qemu, Hyper-V, Hibernate, JPA, Apache, Nginx, Spring Boot, NodeJS, Express,
            MySQL Server, MariaDB Server, MongoDB Server, Visual Paradigm, Putty, MS Office Pro,
            MS Visio Pro, AutoCAD, VS code, Eclipse, NetBeans and IntelliJ IDEA</span>.
            </p>
            <br/>
            <p data-aos="fade-up">
                Moreover, As a part of being a well-rounded engineer, I have used a diverse array of software
                development methodologies and patterns, namely: <span class="fst-italic fw-semibold">SDLC,
            Test Driven Development, MVVM Design Pattern, MVP Design Pattern, MVC Design Pattern,
            MERN Design Pattern, Creational Design Patterns, Behavioral Design Patterns,
            Structural Design Patterns, Full-Stack Development, REST API, SEO practices & analytics,
            Agile, Scrum, Software Testing & QA methodologies, Unit testing, Machine Learning,
            X509 Authentication and Https Transport Protocol, OOP principles and methodologies,
            SOA, Test-Driven Development, Web Application Development, Object Relational Modeling,
            Network Diagnostics Practices, Project Management, SOW Generation, DevOps Implementation
            for K8S, Google Cloud Engine and bare metal infrastructure</span>.
            </p>
            <br/>
            <p data-aos="fade-up">
                In addition to my technical background, abilities, and work ethic, I am client focused
                and driven with a forward-thinking, innovative approach to software engineering.
                I am able to work autonomously or integrate within a large team environment.
            </p>
            <br/>
            <p data-aos="fade-up">
                I have programmed several open-source projects demonstrating the following real-world
                technologies: TensorFlow CNN, Testing Strategy, Responsive Web design, simple applications
                of classical artificial intelligence algorithms (Tic Tac Toe ), Responsive web design,
                Kubernetes, Jenkins, general computer science algorithms (custom data structures, process
                scheduling algorithms), pattern-based design, Restful API, custom helper APIs, and more.
            </p>
            <br/>
            <p data-aos="fade-up">
                I would appreciate the opportunity to contribute knowledge, skills, and experience. I am
                enthusiastic about the opportunity to work with you. Thank you in advance for your consideration.
            </p>
        </div>

        <div class="row" data-aos="fade-down">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="img/profile-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-up">
                <h3>Software Engineering, QA Automation, DevOps Engineering</h3>
                <!--   Caption    -->
                <div data-aos="fade-up">
                    <p class="fst-italic">
                        As a Computer Science Major I spent much of my time learning and expanding my knowledge, experience and
                        understanding of <strong>Design Patterns, Systems Integration Engineering and Systems Architecture Design</strong>. From
                        building Telecommunications Networks to developing Software. I have a deep respect for good design and construction of
                        systems built for flexibility, change, evolution, scalability, high availability, security and disaster recovery as a forethought.
                    </p>
                </div>
                <br/>
                <div class="row" data-aos="fade-up">
                    <div class="col-lg-6" data-aos="fade-up">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a href="https://profile.delliusalexander.com">delliusalexander.com</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span><a href="tel:=+16786509414" >+1 (678) 650-9414</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Atlanta, USA</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><a href="mailto:info@delliusalexander.com">info@delliusalexander.com</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Employment:</strong> <span>Available</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up">
                        <ul>
                            <li>
                                <i class="bi bi-award-fill"></i>
                                <span><strong>Education:</strong></span>
                                <li><i class="bi bi-arrow-right align-top"></i>
                                    <span>Bachelor in Computer Science (Spring 2023)</span>
                                </li>
                                <li><i class="bi bi-arrow-right"></i>
                                    <span>Associate of Applied Science in Information Technology</span>
                                </li>

                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End About Section -->