<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright 2024.  </br>All Rights Reserved. </br><strong><span><%= data.name %></span></strong>
        </div>
    </div>
</footer>
<!-- End Footer Section -->