<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>A Software Engineer with 4 years of academic and 2 years of Enterprise experience seeking a highly rewarding
        career IT. My aspirations are to some day become a Solutions Architect.</p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Bachelor of Science in Computer Science</h4>
          <h5>2017 - 2023</h5>
          <p><em>Clayton State University, Morrow, GA</em></p>
        </div>
        <div class="resume-item">
          <h4>Associates of Applied Science in Information Technology</h4>
          <h5>2017 - 2019</h5>
          <p><em>Clayton State University, Morrow, GA</em></p>
        </div>

      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

        <h3 class="resume-title">Professional Experience</h3>
        <!--  Resume Item -->
        <div class="resume-item">
          <h4>Student Assistant | Enterprise Applications (EA)</h4>
          <h5>2019 - 2022</h5>
          <p><em>Clayton State University, Morrow, GA</em></p>
          <ul>
            <li>Sandbox IT products in K8S cluster and provided demo to VP of EA and Team.</li>
            <li>Supported Dev in various tasks and software implementations.</li>
            <li>Provided support for K8S clusters as needed.</li>
          </ul>
        </div>
        <!--  Resume Item -->
        <div class="resume-item">
          <h4>Store Manager</h4>
          <h5>01/2017 – 03/2019</h5>
          <p><em>Namco Entertainment Inc., Atlanta, GA</em></p>
          <ul>
            <li>Protected company property and assets by implementing audit and reporting procedures.</li>
            <li>Maintained proper operation of equipment through ongoing repairs and preventative maintenance.</li>
            <li>Ensured the timely deposit of store revenues and a balanced change fund in the location.</li>
            <li>Maintained proper operation of location infrastructure through ongoing repairs, preventative
              maintenance and supply chain management for optimal facility operations.</li>
            <li>Hired, developed and maintained a competent, knowledgeable and courteous staff.</li>
            <li>Developed routine guide of daily tasks and duties, team building exercises, continually improving
              process efficiency.</li>
            <li>Maintained compliance with company policies and procedures.</li>
            <li>Established and maintained ongoing relationships with partners, merchants, local authorities, community
              organizations and customers.</li>
          </ul>
        </div>

        <!--  Resume Item  -->
        <div class="resume-item">
          <!--  job title  -->
          <h4>Technical Manager</h4>
          <!--  years employed  -->
          <h5>01/2016 – 01/2017</h5>
          <!--  location  -->
          <p><em>HYFI Solutions Inc., Atlanta, GA</em></p>
          <ul>
            <li>Performed system design and programming.</li>
            <li>Responsible for BOM/BOL, SOW development, implementation and sub-contracting out work as
              needed.</li>
            <li>Consulted with new client inquiries and presenting system design options based on client needs and
              budget.</li>
            <li>Oversaw SOW and project management through the entire process from walkout to closeout and
              handoff to client.</li>
            <!--                <li></li>-->
          </ul>
        </div>


        <!--  Resume Item  -->
        <div class="resume-item">
          <!--  job title  -->
          <h4>Operations Market Manager</h4>
          <!--  years employed  -->
          <h5>01/2015 – 01/2016, Atlanta, GA</h5>
          <h5>01/2011 – 01/2015, DFW, TX</h5>
          <!--  location  -->
          <p><em>DirecPath LLC, Atlanta, GA</em></p>
          <ul>
            <li>Managed quality control processes, training, maintenance and mentored technicians.</li>
            <li>Gathered performance metrics for monthly and yearly review.</li>
            <li>Maintained telecommunications such as: IDF Lock Boxes DirectTV MFH2/D2 Advantage, Satellite
              Dish, Hardline Plant & Cabling, Fiber Plant & Cabling, Twisted Pair Plant & Cabling, CATV Head
              end & Distribution systems, SMATV, DOCSIS networks and CMTS (Cisco and CASA) installation,
              Switches and Wireless bridges/access points as well as PONs (Passive Optical Networks) for MDU
              communities, commercial and residential.</li>
            <li>Oversaw and collected metrics for periodic Quality Assurance/Quality Control (QA/QC)
              distribution network testing/inspections to evaluate network stability.</li>
            <li>Created Scope of Work (SOW), Bill of Material/Bill of Labor (BOM/BOL) for all comprehensive
              site inspections and repairs and ensured compliance with NEC code, FCC, local and federal laws.</li>
            <li>Responsible for documenting site As Builds reflecting plant design and updates.</li>
            <li>Managed operation and logistics, market inventory of 5,000+ parts, tracked technician inventory,
              was responsible for shipping and receiving equipment and parts, conducted audits and reconciliation
              of assets upon contract expiration; managed inventory budget and submitted quarterly reports to
              accounting.</li>
            <!--                <li></li>-->
          </ul>
        </div>
        <!--            &lt;!&ndash;  Resume Item  &ndash;&gt;-->
        <!--            <div class="resume-item">-->
        <!--              &lt;!&ndash;  job title  &ndash;&gt;-->
        <!--              <h4></h4>-->
        <!--              &lt;!&ndash;  years employed  &ndash;&gt;-->
        <!--              <h5></h5> -->
        <!--              &lt;!&ndash;  location  &ndash;&gt;-->
        <!--              <p><em></em></p>-->
        <!--              <ul>-->
        <!--                <li></li>-->
        <!--                <li></li>-->
        <!--                <li></li>-->
        <!--                <li></li>-->
        <!--                <li></li>-->
        <!--                <li></li>-->
        <!--                <li></li>-->
        <!--                <li></li>-->
        <!--              </ul>-->
        <!--            </div>-->

      </div>
    </div>
  </div>
</section>
<!-- End Resume Section -->